//- global mixin file
mixin head(canonical, title, description)
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="description" content=description)
    meta(name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no")
    title #{title}
    //- canonical tag goes here
    link(rel="canonical" href=`http://localhost:3000/${canonical}`)
    //- site dependency scripts
    script(src="js/main.js")
    script(src="js/mobile-nav.js")
    //- site vendor dependencies
    script(src="js/vendor/animsition.min.js")
    script(src="js/vendor/jquery.aim.min.js")
    script(src="js/vendor/jquery.menu-aim.js")
    script(src="js/vendor/slick.min.js")
    script(src="js/vendor/typeahead.bundle.min.js")
    script(src="js/vendor/typeahead.jquery.min.js")
    script(src="https://unpkg.com/vue@2.3.4")
    //- site css dependencies
    link(rel="stylesheet" type="text/css" href="css/styles.css")
    link(rel="stylesheet" type="text/css" href="css/asi-mix-styles-main.css")
    link(rel="stylesheet" type="text/css" href="css/asi-mix-styles.css")
    //- bootstrap code
    //- Latest compiled and minified JavaScript
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")   